body {
    background-color: lightgray;
}
.some-wrapper {
    margin: 100px auto;
    width: 821px;
    min-height: 20px;
    height: auto;
    background-color: white;
}

.pattern-card {

}

.pattern-card__image {
    height: 282px;
    width: 191px;

}
