body {
    background-color: lightgray;
}

.some-wrapper {
    margin: 100px auto;
    width: 821px;
    min-height: 20px;
    height: auto;
    background-color: white;
}

#my-patterns {
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*justify-content: space-between;*/
}

.pattern-card {
    float: left;
    margin: 5px;
    height: 354px;
}

.pattern-card__image {
    height: 282px;
    width: 191px;

}
